.header{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff2e4a;
    
}

.headerNav {
    display: flex;
    list-style: none;
    gap: 30px;
}

.link{
    text-decoration: none;
    color: #fff;
}

.cadUsuario {
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: rgb(250, 150, 0);
    gap: 30px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}